<h2>{{title}}</h2>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" class="echarts"></div>
<!-- ECharts单文件引入 -->
<script src="./javascripts/echarts/echarts.js"></script>
<script src="javascripts/index.js"></script>
<!--注意，当前这个文件被hbs编译后跑到public目录下了，所以引用其他脚本的时候很容易出错-->
